@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
html{
    box-sizing: border-box;
    font-size: 16;
    font-family: 'Comfortaa', cursive;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}


body{
    background-color: #0d1117;
    color: white;
}

h1{
    width: 30%;
    background-color: #3fb950;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
}

.loader{
    display: none;
    margin: auto;
}

a{
    background-color: #673AB7;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: all .3s ease-out;
}

a:hover{
    opacity: .75;
}

img{
    width: 100%;
    height: 15rem;
    border-radius: 5px;
}

h1{
    text-align: center;
}

hr{
    border: thin solid #673AB7;
    margin: 3rem auto;
    width: 80%;
}

.site{
    margin: 1rem auto;
    padding: 1rem;
    max-width: 50%;
    text-align: center;
}

.post{
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 80%;
    text-align: center;
    border: 3px solid #484f58;
}

.post-author img{
    width: 10%;
    height: auto;
    border-radius: 50%;
}

.post-date{
    margin: 1rem auto;
    display: block;
}

.post-excerpt,
.post-categories,
.post-tags,
.post-content{
    text-align: left;
}

.post-content summary{
    padding: 10px 20px;
    background-color: #1f6feb;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
}

.post-content > article{
    padding: 1rem;
    background-color: #1f6feb;
}

.post-content a{
    background-color: #1f6feb;
    color: #0d1117;
    padding: 0px 0px;
}

.post-content pre {
    padding: 10px;
    border-radius: 5px;
    background-color: #0d1117;
    color: #3fb950;
}

.post-content img{
    display: block;
    margin: auto;
}