html{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: #141414;
    color: #e0e0e0;
}

a{
    background-color: #8957e5;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

nav{
    padding: 1rem;
}

h1{
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.loader{
    margin: 15rem auto;
    display: block;
    width: 7rem;
    height: 7rem;
}

.error{
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:#f85149;
}

.form-search{
    margin: auto;
    text-align: center;
}

.form-search input{
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.grid-fluid{
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.header{
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
    /* Lineas para dar border-radius al bottom de mi header */
    border-bottom-left-radius: 5%; 
    border-bottom-right-radius: 5%;
}

.header > *{
    margin: 1rem auto;
}

.post-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #398eff;
    border-radius: 10px;
}

.post-card p{
    display: flex;
    justify-content: space-between;
}