@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: #141414;
    color: #e0e0e0;
}

a{
    color: #8957e5;
    text-decoration: none;
}

nav{
    padding: 0.1rem;
}

h1{
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

code{
    color: #8957e5;
    font-family: 'Fira code', sans-serif;
}

pre{
    border: 1px solid #8957e5;
    border-radius: 5px;
    padding: 15px;
    background-color: transparent;
}

.loader{
    margin: 15rem auto;
    display: block;
    width: 7rem;
    height: 7rem;
}

.error{
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:#f85149;
}

.search-form{
    margin: auto;
    text-align: center;
}

.search-form input{
    display: block;
    margin: auto;
    padding: 0.2rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.grid-fluid{
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.header{
    display: flex;
    padding: 0.1rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
    /* Lineas para dar border-radius al bottom de mi header */
    border-bottom-left-radius: 1%; 
    border-bottom-right-radius: 1%;
}

.header > *{
    margin: 0.5rem auto;
}

.post-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #398eff;
    border-radius: 10px;
}

.post-card p{
    display: flex;
    justify-content: space-between;
}

.post-page{
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    background-color: #141414;
}

.post-page > aside{
    margin: auto;
    width: 60%;
    text-align: center;
}

.post-page > hr{
    border:thin solid #8957e5;
    margin: 2rem auto;
    width: 80%;
}

.post-page time{
    margin: 1rem auto;
    display: block;
}

.post-page > article{
    padding: 0 2rem;
}

.post-page img,
.post-page audio,
.post-page iframe,
.post-page video{
    margin: auto;
    display: block;
    max-width: 100%;
}
