body{
    background-color: #000;
    color: #fff;
}

img{
    max-width: 100%;
}

.loader{
    width: 10%;
    display: block;
    margin: auto;
}

.grid-fluid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}