/* ---------- Importamos Fuente ---------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* ---------- Reset CSS ---------- */

/* ---- Declaramos variables CSS */
:root{
    --main-font: 'Montserrat', sans-serif;;
    --font-size:16px;
    --main-color:#161b22;
    --second-color:#40c463;
    --main-modal-color:rgb(33, 38, 45, .85);
    --second-modal-color:rgb(64, 196, 49, .85);
    --container-width:1200px;
}

/* ---- Reseteo Basico */
html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x:hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/* ---------- Menu Hamburger Styles ---------- */

header{
    position: sticky;
    top:0;
    padding:1rem;
    background-color: var(--main-color);
    color: var(--second-color);
    z-index: 10;
}

header h1{
    margin: 0 auto;
    text-align: center;
}

.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--main-modal-color);
    transition: transform .3s ease;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    
    /* Panel salga por arriba */
    transform: translate(0, -100%);
    /* Panel salga por abajo */
    transform: translate(0, 100%);
    /* Panel salga por derecha */
    transform: translate(100%, 0);
    /* Panel salga por izquierda */
    transform: translate(-100%, 0);
}

.panel.is-active{
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

.panel ul{
    padding-left: 0;
    width: 100%;
}

.panel li {
    list-style: none;
}

.panel li a {
    padding: 2rem;
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--second-color);
    transition: all 0.3s ease;
}

.panel li a:hover{
    font-weight: bold;
    color: var(--main-color);
    background-color: var(--second-modal-color);
}

.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color) !important;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

/* ---------- Eventos de Teclado Styles ---------- */

.stage{
    display:flex;
    min-height: 50vh;
    background-color: var(--main-color);
}

.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--second-color);
}

/* ---------- Scroll Top Button ---------- */

.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(5.25rem + 1vw);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    cursor: pointer;
    border:0;
    outline:0;
}

.scroll-top-btn:hover{
    background-color: var(--main-color);
}

.scroll-top-btn.hidden{
    visibility: hidden;
    opacity: 0;
}

.img-top{
    transform: rotate(-92deg);
}

/* ---------- Dark Theme Button ---------- */
.dark-theme-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    cursor: pointer;
    border:0;
    outline:0;
}

.dark-theme-btn.moon,
.dark-theme-btn.sun{
    background-repeat: no-repeat;
    background-size: 80% , 80%;
    background-position: 7px;
}
.dark-theme-btn.moon{
    background-image: url(../assets/img/luna.png);
}

.dark-theme-btn.sun{
    background-image: url(../assets/img/sol.png);
}


.dark-mode{
    background-color: var(--second-color);
    color: var(--main-color);
}

.dark-theme{
    background-color: var(--main-color);
    color: var(--second-color);
}

/* ---------- Deteccion de conexion a la red wifi ---------- */
.connected{
    position: sticky;
    background-color: green;  
    color: var(--main-color);
    border-radius: 5px;
}

.disconnected{
    position: sticky;
    background-color: red;  
    color: var(--main-color);
    border-radius: 5px;
}

/* ---------- Search Filters ---------- */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card{
    padding: 10px;
    background: var(--main-color);
    border: 1px solid var(--second-color);
    border-radius: 10px;
    transition: all .3s ease-out;
}

.card img{
    border-radius: 10px;
    height: auto;
}

.card figcaption{
    padding: 1rem;
}

.filter{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}

/* ---------- Responsive Slider ---------- */

.slider{
    position: relative;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    border: thin solid var(--second-color);
}

.slider-slides{
    position: relative;
    height: 400px;
}

.slider-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 0%;
}

.slider-slide.active{
    opacity: 1;
    visibility: visible;
}

.slider-btns{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
}

.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid var(--second-color);
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--main-color);
    transition: all 0.3s ease;
}

/* ---------- Scroll Spy ---------- */
@media screen and (min-width: 1024px){
    
    body{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
        "header header"
        "main   panel";
    }

    main{
        grid-area: main;
    }

    .header{
        grid-area: header;
    }

    .panel{
        grid-area: panel;
        align-self: start;
        position: sticky;
        top: 4rem;
        opacity: 1;
        justify-content: flex-start;
        visibility: visible;
        transform: translate(0, 0);
    }

    .panel-btn{
        display: none !important;
    }

    .menu{
        justify-content: start;
        text-align: right;
    }

    .panel li a:hover,
    .panel li a.active{
        color: var(--main-color);
        background-color: var(--second-color);
    }

    .panel li a{
        font-size: 1.1rem;
        padding: .75rem;
    }

    .scroll-top-btn{
        right: initial;
        left: calc(5.25rem + 1vw);
    }
    
}