@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
}

.profile{
    width: 50%;
    margin: auto;
    text-align: center;
    border: thin solid #c9d1d9;
    border-radius: 5px;
}

.avatar{
    width: 30%;
    border-radius: 50%;
}

.container{
    padding: 20px;
}

.link{
    width: 25px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #006d32;
    margin: 15px;
    color: #c9d1d9;
}