body{
    font-family: 'Alata', sans-serif;
}

#container{
    color: #8000FF;
    box-shadow: 0px 0px 20px #8000FF;
}

#logo{
    color: #8000FF;
}

#menu{
    box-shadow: 0px 0px 20px #8000FF;
}

#menu a{
    color:  #8000FF;
}

.read-more:hover{
    box-shadow: 0px 0px 40px #8000FF;
    color: #8000FF;
}

form input[type = "text"],
form input[type = "password"],
form input[type = "email"],
form input[type = "number"]{
    color: #8000FF;
    box-shadow: 0px 0px 10px #8000FF;
}

form input[type = "submit"]:hover{
    color: #8000FF;
    box-shadow: 0px 0px 30px #8000FF;
}


.footer{
    color: #8000FF;
    box-shadow: 0px 0px 10px #8000FF;
}

#init{
    background-color: #8000FF;
    box-shadow: 0px 0px 20px #8000FF;
}

#acordeon .cont{
    color: #8000FF;
    border-color: #8000FF;
    box-shadow: 0px 0px 30px #8000FF;
}

#acordeon h2{
    border-color: #8000FF;
    box-shadow: 0px 0px 20px #8000FF;
}

#reloj{
    border: 3px #8000FF solid;
    box-shadow: 0px 0px 120px #8000FF;
}

#opcional{
    color: #8000FF;
    box-shadow: 0px 0px 10px #8000FF;
}

.form-error{
    background-color: #8000FF;
    box-shadow: 0px 0px 40px #8000FF;
}