html{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

progress{
    margin-top: 1rem;
}

body{
    margin: 0;
}

.drop-zone{
    margin-left: auto;
    margin-right: auto;
    border: thin dotted #000;
    border-radius: 10px;
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drop-zone.is-active{
    border: #000;
    background-color: green;
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;
}

/* Animation pulse */
@keyframes pulse{   
    0%,
    100%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }
}