/* ---------- Contact Form Validations ---------- */
body{
    /* background-color: #161b22; */
    color: #fff;

}

.contact-form{
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact-form > *{
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    border-radius: 10px;
    width: 100%;
}

.contact-form textarea{
    resize: none;
}

.contact-form legend,
.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
} 

.contact-form input,
.contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"]{
    width: 50%;
    cursor: pointer;
    background-color: white;
}

.contact-form *::placeholder{
    color: #161b22;
}

.contact-form [required]:valid{
    border: thin solid var(--form-ok-color)
}

.contact-form [required]:invalid{
    border: thin solid var(--form-error-color);
}

.contact-form-error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}

.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.contact-form-loader{
    text-align: center;
}

.none{
    display: none;
}

@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}